[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.15.4"
nltk = "==3.4"
keras = "==2.2.4"
pillow = "*"
tensorflow = "==1.14.0"
matplotlib = "*"
fastapi = "*"
uvicorn = "*"
flask = "*"

[requires]
python_version = "3.7"
